<% provide(:title, 'About Us') %>
<h1> <font color = "white" size = "6"> About Us </font> </h1>

  <script>document.body.style.backgroundImage="url('/assets/fantastic-blurred-wallpaper-36388-37216-hd-wallpapers.jpg')";
  </script>

<b>
<p>
<font color = "white" size = "5">
	1. Karan Grover
</font>
	 </p>
	 <br>
<p>
	<font color = "white" size = "5">
	2. Nikhil Singhal
	</font>
	 </p>
	 <br>
<p>
	<font color = "white" size = "5">
	3. Amod Agrawal
	</font>
	 </p>
	 <br>
<p>
	<font color = "white" size = "5">
	4. Atulya Jain
	</font>
	 </p>
	 <br>
<p>
	<font color = "white" size = "5">
	5. Sonali Raichandel
	</font>
	 </p>
	 <br>
<p>
	<font color = "white" size = "5">
	6. Ishita Khurana
	</font>
	 </p>
	 <br>
<p>
	<font color = "white" size = "5">
	7. Aarushi Handa
	</font>
 </p>
 <br>
<p>
	<font color = "white" size = "5">
	8. Saloni Kogta
	</font>
  
 </p>
</b>

  
