<%= provide(:title, 'Contact') %>
<h1>Contact Us</h1>
<font color = "white">
<b>
<p>
	1. Karan Grover
	 </p>
<p>
	2. Nikhil Singhal
	 </p>
<p>
	3. Amod Agrawal
	 </p>
<p>
	4. Atulya Jain
	 </p>
<p>
	5. Sonali Raichandel
	 </p>
<p>
	6. Ishita Khurana
	 </p>
<p>
	7. Aarushi Handa
 </p>
<p>
	8. Saloni Kogta
  
 </p>
</b>
</font>