<% provide(:title, 'Help') %>
<h1><font color = "white"> Help </font></h1>
<p style="text-align:center;">
	<b>
		<font size ="5" color = "white">
  Welcome to Change Heros.
  		</font>
</b>
</p>
<br>
<h2> <p style="text-align:center;"><font face="helvitca" size ="6" color = "white"> FAQ (Frequently Asked Questions) </font> </p> </h2>
<p><font size ="3" color = "white"><b>
	<br> </br>
	1. What is Change Heros?
 </b></font></p>
 <p><font size ="3" color = "white"><b>
	A: Change Heros is the first social network entirely dedicated to save the world. Here at Change Heros, we bring about the change by sharing interesting and bright ideas. People can share their amazing stories about reuse and how they saved the environemnt.
 </b></font></p>
<p><b><font size ="3" color = "white">
	<br> </br>
	2. How can i use Change Heros?
</b></p></font>
<p><b><font size ="3" color = "white">
	A: You can directly sign up on our website, or instead use Facebook, Google+ or Twitter to log in. Just a click of a button and you're all set to share some amazing ideas.
</b></p></font>
<p><b><font size ="3" color = "white">
	<br> </br>
	3. How can i let my friends know about Change Heros?
</b></p></font>
<p><b><font size ="3" color = "white">
	A: Any post you make, any idea you share, any thoughts you write down: you have an option to share these posts on Facebook, Twitter and Google+, so that your ideas get attention on these giant Social Media Platforms too. 
</b></p></font>

  <script>document.body.style.backgroundImage="url('/assets/Grass_and_Blurred_Bokeh_Lights_HD_Nature_Wallpaper.jpg')";
  </script>

